@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap");
$fzt: 1.125rem;
$fwt: 400;
$lht: 165%;
$fzh: 2.8125rem;
$lhh: 130%;
$White: #ffffff;
$SlateGray: #5c8692;
$veryDark: #141414;
$Brown: #555555;
$smallDark: #1e2c30;
$LightSeaGray: #7a9ca5;
$verySvitGray: #9bb7bf;
$LightGray: #d0d0d0;
$Gainsboro: #c4c4c4;
$Silver: #cccccc;
$know: #272d32;
$smallGray: #ebf3f5;
$Dark: #111e22;
$DimGray: #84a8b2;
$veryGray: #95bfcb;
$DarkGray: #a2b3bf;
@mixin text($fzt, $lht, $Brown) {
  font-family: "Manrope";
  font-style: normal;
  font-weight: $fwt;
  font-size: $fzt;
  line-height: $lht;
  /* or 30px */

  letter-spacing: 0.02em;

  color: $Brown;
}
@mixin title($fzh, $lhh, $veryDark) {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: $fzh;
  line-height: $lhh;
  /* or 58px */

  letter-spacing: -0.01em;

  color: $veryDark;
}
.header {
  display: flex;
  flex-direction: row;
  column-gap: 30.375rem;
  height: 7.8125rem;
  padding: 2.375rem 6.5625rem;
  align-items: center;
  &__head {
    width: 31.4306rem;
    display: flex;
    align-items: center;
    column-gap: 2.875rem;
    height: 2.1875rem;
  }

  &__logo {
    display: flex;
    column-gap: 0.75rem;
    height: 2.1875rem;
  }

  &__picture {
    width: 2.0625rem;
    height: 2.0625rem;
  }

  &__title {
    @include title(1.75rem, 125%, $veryDark);
  }

  &__contact {
    display: flex;
    column-gap: 0.75rem;
    height: 23px;
  }

  &__img-phone {
    height: 20.93;
    width: 20.89;
  }

  &__phone {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 125%;
    color: $veryDark;
  }

  &__navigation {
    display: flex;
    column-gap: 1.875rem;
    align-items: center;
    height: 3.125rem;
  }

  &__list {
    display: flex;
    column-gap: 1.875rem;
  }

  &__list-item {
    @include text($fzt, 125%, $Brown);
    height: 23px;
  }

  &__list-item-f {
    @include text($fzt, 125%, $Brown);
    display: flex;
    align-items: center;
    height: 23px;
  }

  &__link {
    color: $Brown;
  }

  &__good {
    padding-top: 0.5rem;
  }

  &__icon {
  }

  &__button {
    width: 12.5rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.625rem;
    background: $LightSeaGray;
  }

  &__img {
  }

  &__text {
    @include text(0.875rem, 125%, $White);
  }
}
.container {
  max-width: 122.5rem;
  margin: auto;
}
.home {
  width: 120rem;
  height: 57.8125rem;
  background-color: $smallGray;
  margin-bottom: 235px;
  position: relative;

  &__content {
    margin: 0px 0 235px 360px;
    width: 510px;
    height: 455px;
    position: relative;
    top: 225px;
  }

  &__sub-title {
    margin-left: 0;
    width: 278px;
    height: 23px;
    display: flex;
    column-gap: 9px;
  }

  &__element {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 154.5%;
    /* or 23px */
    width: 247spx;
    height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    text-transform: uppercase;

    color: $SlateGray;
  }

  &__title {
    @include title(4.375rem, 115%, $veryDark);
    margin-top: 7px;
    width: 510px;
    height: 240px;
    letter-spacing: -0.01em;
  }

  &__text {
    @include text(1.1875rem, 170%, $Brown);
    margin-top: 24px;
    width: 508px;
    height: 62px;
  }

  &__button {
    margin-top: 34px;
    width: 250px;
    height: 65px;
    background: $SlateGray;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text-button {
    @include text(0.875rem, 125%, $White);
    letter-spacing: 0.12em;
    text-transform: uppercase;
    width: 177px;
    height: 18px;
  }

  &__picture {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 1020px;
    &_people {
      width: 34.0625rem;
      height: 34.375rem;
      position: absolute;
      bottom: 183px;
      left: 933px;
      z-index: 10;
      box-shadow: 0px 20px 60px rgba(47, 68, 73, 0.46);
    }
  }
}
.features {
  margin-top: 143px;
  &__content {
    width: 1200px;
    height: 489px;
    display: flex;
    margin: auto;
    column-gap: 108px;
  }

  &__department {
    width: 330px;
    height: 489px;
    padding: 0;
  }

  &__picture {
  }

  &__title {
    @include title(1.625rem, 120%, $veryDark);
    margin-top: 19px;
  }

  &__text {
    @include text($fzt, $lht, $Brown);
    width: 327px;
    height: 86px;
    margin-top: 11px;
  }

  &__button {
    margin-top: 30px;
    width: 180px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $SlateGray;
  }

  &__link {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: $veryDark;
  }
}
.about {
  background: $smallGray;
  margin-top: 150px;
  width: 1920px;
  height: 914px;
  box-shadow: 0px 37px 60px rgba(0, 0, 0, 0.02);
  &__backgrond {
    position: relative;
    display: flex;
    width: 1920px;
    height: 914px;
  }

  &__content {
    margin-right: 119px;
    width: 529px;
    height: 559.02px;
    margin-left: 360px;
    margin-bottom: 177px;
  }

  &__sub-title {
    margin-top: 177.5px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 154.5%;
    /* or 23px */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $SlateGray;
  }

  &__title {
    margin-top: 9px;
    @include title($fzh, $lhh, $veryDark);
    width: 435px;
    height: 174px;
  }

  &__text {
    margin-top: 16px;
    @include text($fzt, $lht, $Brown);
    width: 529px;
    height: 120px;
  }

  &__products {
    margin-top: 37px;
    display: flex;
    column-gap: 10px;
  }

  &__element {
    width: 165px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $White;
    border: 1px solid $smallDark;
    padding: 21px 11px 21px 11px;
  }

  &__icon {
  }

  &__head {
    margin-top: 14px;
    width: 143px;
    height: 52px;
    @include title(1.375rem, 120%, $veryDark);
  }

  &__photo {
  }

  &__picture {
    z-index: 1;
    position: absolute;
    top: 190px;
    box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
  }

  &__img {
    position: absolute;
    top: 150px;
    left: 1055px;
    box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
  }
}
.service {
  margin-top: 146px;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 659px;
    height: 148px;
  }

  &__sub-title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 154.5%;
    /* or 23px */

    display: flex;
    align-items: center;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: $SlateGray;
  }

  &__title {
    @include title($fzh, $lhh, $veryDark);
    width: 659px;
    height: 116px;
    text-align: center;
  }

  &__line {
    width: 530px;
    height: 0px;
    margin-top: 22px;
    opacity: 0.5;
    border: 1px solid $verySvitGray;
  }

  &__content {
    margin-top: 50px;
    display: flex;
    width: 1198px;
    height: 589px;
    margin: auto;
    margin-top: 50px;
    column-gap: 68px;
    position: relative;
  }

  &__picture {
  }

  &__text {
    width: 530px;
    height: 493px;
  }
  &__texts {
    margin-top: 127px;
    width: 530px;
    height: 493px;
  }

  &__top {
    margin-top: 18px;
    width: 529px;
    height: 61px;
  }

  &__head {
    @include title(1.375rem, 130%, $veryDark);
    width: 529px;
    letter-spacing: 0.02em;
  }

  &__highlighted {
    @include text($fzt, $lht, $Brown);
    letter-spacing: 0.02em;
  }

  &__paragraph {
    @include text($fzt, $lht, $Brown);
    letter-spacing: 0.02em;
    margin-top: 5px;
  }

  &__button {
    margin-top: 35px;
    width: 249px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $SlateGray;
  }

  &__link {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: $veryDark;
  }

  &__icon {
    position: absolute;
    // left: 860px;
    // bottom: 490px;

    z-index: -1;
    top: 550px;
    left: 510px;
  }

  &__img {
  }
}
.testimonials {
  margin-top: 190px;
  max-width: 1920px;
  height: 776px;
  &__background {
    background: #edf5f7;
    width: 1920px;
    height: 776px;
  }

  &__header {
    width: 552px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 147px;
  }

  &__sub-title {
    margin-top: 147px;
    margin-bottom: 2px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 154.5%;
    /* or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $SlateGray;
  }

  &__title {
    @include title($fzh, $lhh, $veryDark);
  }

  &__content {
    margin: auto;
    width: 1200px;
    height: 359px;
    display: flex;
    column-gap: 36px;
    margin-top: 40px;
  }

  &__information {
  }

  &__info {
    width: 582px;
    height: 234px;
    padding: 44px 48px 54px 49px;
    background: $White;
  }

  &__paragragh {
    width: 485px;
    height: 146px;
    @include text(1.1875rem, 180%, $Brown);
  }

  &__text {
    display: flex;
    background: $smallDark;
    width: 582px;
    height: 125px;
    padding: 26px 50.99px 25px 51px;
  }

  &__picture {
  }

  &__about {
    margin-left: 20px;
    margin-right: 178px;
  }

  &__stars {
  }

  &__name {
    @include title(1.25rem, 160%, $White);
  }

  &__country {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    letter-spacing: 0.03em;

    color: $White;
  }

  &__icon {
  }
}
.benefits {
  margin-top: 147px;
  &__header {
    width: 659px;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sub-title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 154.5%;
    /* or 23px */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $SlateGray;
  }

  &__title {
    margin-top: 9px;
    @include title($fzh, $lhh, $veryDark);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 1200px;
    height: 521px;
    column-gap: 105px;
    row-gap: 40px;
  }

  &__about {
    width: 330px;
    height: 243px;
  }

  &__icon {
    margin-top: 43px;
  }

  &__head {
    margin-top: 25px;
    @include title(1.625rem, 120%, $veryDark);
    width: 310px;
    height: 62px;
  }

  &__text {
    margin-top: 11px;
    @include text($fzt, $lht, $Brown);
    width: 330px;
    height: 60px;
  }
}
