@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap");
.header {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30.375rem;
       column-gap: 30.375rem;
  height: 7.8125rem;
  padding: 2.375rem 6.5625rem;
  align-items: center;
}
.header__head {
  width: 31.4306rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 2.875rem;
       column-gap: 2.875rem;
  height: 2.1875rem;
}
.header__logo {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  height: 2.1875rem;
}
.header__picture {
  width: 2.0625rem;
  height: 2.0625rem;
}
.header__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.header__contact {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  height: 23px;
}
.header__img-phone {
  height: 20.93;
  width: 20.89;
}
.header__phone {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 125%;
  color: #141414;
}
.header__navigation {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  align-items: center;
  height: 3.125rem;
}
.header__list {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}
.header__list-item {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  height: 23px;
}
.header__list-item-f {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  display: flex;
  align-items: center;
  height: 23px;
}
.header__link {
  color: #555555;
}
.header__good {
  padding-top: 0.5rem;
}
.header__button {
  width: 12.5rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  background: #7a9ca5;
}
.header__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #ffffff;
}

.container {
  max-width: 122.5rem;
  margin: auto;
}

.home {
  width: 120rem;
  height: 57.8125rem;
  background-color: #ebf3f5;
  margin-bottom: 235px;
  position: relative;
}
.home__content {
  margin: 0px 0 235px 360px;
  width: 510px;
  height: 455px;
  position: relative;
  top: 225px;
}
.home__sub-title {
  margin-left: 0;
  width: 278px;
  height: 23px;
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.home__element {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 154.5%;
  /* or 23px */
  width: 247spx;
  height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #5c8692;
}
.home__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 115%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  margin-top: 7px;
  width: 510px;
  height: 240px;
  letter-spacing: -0.01em;
}
.home__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 170%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 24px;
  width: 508px;
  height: 62px;
}
.home__button {
  margin-top: 34px;
  width: 250px;
  height: 65px;
  background: #5c8692;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__text-button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #ffffff;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  width: 177px;
  height: 18px;
}
.home__picture {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 1020px;
}
.home__picture_people {
  width: 34.0625rem;
  height: 34.375rem;
  position: absolute;
  bottom: 183px;
  left: 933px;
  z-index: 10;
  box-shadow: 0px 20px 60px rgba(47, 68, 73, 0.46);
}

.features {
  margin-top: 143px;
}
.features__content {
  width: 1200px;
  height: 489px;
  display: flex;
  margin: auto;
  -moz-column-gap: 108px;
       column-gap: 108px;
}
.features__department {
  width: 330px;
  height: 489px;
  padding: 0;
}
.features__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 120%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  margin-top: 19px;
}
.features__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  width: 327px;
  height: 86px;
  margin-top: 11px;
}
.features__button {
  margin-top: 30px;
  width: 180px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5c8692;
}
.features__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #141414;
}

.about {
  background: #ebf3f5;
  margin-top: 150px;
  width: 1920px;
  height: 914px;
  box-shadow: 0px 37px 60px rgba(0, 0, 0, 0.02);
}
.about__backgrond {
  position: relative;
  display: flex;
  width: 1920px;
  height: 914px;
}
.about__content {
  margin-right: 119px;
  width: 529px;
  height: 559.02px;
  margin-left: 360px;
  margin-bottom: 177px;
}
.about__sub-title {
  margin-top: 177.5px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.about__title {
  margin-top: 9px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 435px;
  height: 174px;
}
.about__text {
  margin-top: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  width: 529px;
  height: 120px;
}
.about__products {
  margin-top: 37px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.about__element {
  width: 165px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #1e2c30;
  padding: 21px 11px 21px 11px;
}
.about__head {
  margin-top: 14px;
  width: 143px;
  height: 52px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 120%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.about__picture {
  z-index: 1;
  position: absolute;
  top: 190px;
  box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
}
.about__img {
  position: absolute;
  top: 150px;
  left: 1055px;
  box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
}

.service {
  margin-top: 146px;
}
.service__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 659px;
  height: 148px;
}
.service__sub-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #5c8692;
}
.service__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 659px;
  height: 116px;
  text-align: center;
}
.service__line {
  width: 530px;
  height: 0px;
  margin-top: 22px;
  opacity: 0.5;
  border: 1px solid #9bb7bf;
}
.service__content {
  margin-top: 50px;
  display: flex;
  width: 1198px;
  height: 589px;
  margin: auto;
  margin-top: 50px;
  -moz-column-gap: 68px;
       column-gap: 68px;
  position: relative;
}
.service__text {
  width: 530px;
  height: 493px;
}
.service__texts {
  margin-top: 127px;
  width: 530px;
  height: 493px;
}
.service__top {
  margin-top: 18px;
  width: 529px;
  height: 61px;
}
.service__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 529px;
  letter-spacing: 0.02em;
}
.service__highlighted {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  letter-spacing: 0.02em;
}
.service__paragraph {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  letter-spacing: 0.02em;
  margin-top: 5px;
}
.service__button {
  margin-top: 35px;
  width: 249px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5c8692;
}
.service__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #141414;
}
.service__icon {
  position: absolute;
  z-index: -1;
  top: 550px;
  left: 510px;
}/*# sourceMappingURL=style.css.map */