@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap");
.header {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30.375rem;
       column-gap: 30.375rem;
  height: 7.8125rem;
  padding: 2.375rem 6.5625rem;
  align-items: center;
}
.header__head {
  width: 31.4306rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 2.875rem;
       column-gap: 2.875rem;
  height: 2.1875rem;
}
.header__logo {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  height: 2.1875rem;
}
.header__picture {
  width: 2.0625rem;
  height: 2.0625rem;
}
.header__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.header__contact {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  height: 23px;
}
.header__img-phone {
  height: 20.93;
  width: 20.89;
}
.header__phone {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 125%;
  color: #141414;
}
.header__navigation {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  align-items: center;
  height: 3.125rem;
}
.header__list {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}
.header__list-item {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  height: 23px;
}
.header__list-item-f {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  display: flex;
  align-items: center;
  height: 23px;
  width: 60px;
}
.header__link {
  color: #555555;
}
.header__good {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
.header__button {
  width: 12.5rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  background: #7a9ca5;
}
.header__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #ffffff;
}

.container {
  max-width: 122.5rem;
  margin: auto;
}

.home {
  width: 120rem;
  height: 57.8125rem;
  background-color: #ebf3f5;
  margin-bottom: 235px;
  position: relative;
}
.home__content {
  margin: 0px 0 235px 360px;
  width: 510px;
  height: 455px;
  position: relative;
  top: 225px;
}
.home__sub-title {
  margin-left: 0;
  width: 278px;
  height: 23px;
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.home__element {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 154.5%;
  /* or 23px */
  width: 247spx;
  height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #5c8692;
}
.home__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 115%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  margin-top: 7px;
  width: 510px;
  height: 240px;
  letter-spacing: -0.01em;
}
.home__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 170%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 24px;
  width: 508px;
  height: 62px;
}
.home__button {
  margin-top: 34px;
  width: 250px;
  height: 65px;
  background: #5c8692;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__text-button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 125%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #ffffff;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  width: 177px;
  height: 18px;
}
.home__picture {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 1020px;
}
.home__picture_people {
  width: 34.0625rem;
  height: 34.375rem;
  position: absolute;
  bottom: 183px;
  left: 933px;
  z-index: 10;
  box-shadow: 0px 20px 60px rgba(47, 68, 73, 0.46);
}

.features {
  margin-top: 143px;
}
.features__content {
  width: 1200px;
  height: 489px;
  display: flex;
  margin: auto;
  -moz-column-gap: 108px;
       column-gap: 108px;
}
.features__department {
  width: 330px;
  height: 489px;
  padding: 0;
}
.features__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 120%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  margin-top: 19px;
}
.features__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  width: 327px;
  height: 86px;
  margin-top: 11px;
}
.features__button {
  margin-top: 30px;
  width: 180px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5c8692;
}
.features__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #141414;
}

.about {
  background: #ebf3f5;
  margin-top: 150px;
  width: 1920px;
  height: 914px;
  box-shadow: 0px 37px 60px rgba(0, 0, 0, 0.02);
}
.about__backgrond {
  position: relative;
  display: flex;
  width: 1920px;
  height: 914px;
}
.about__content {
  margin-right: 119px;
  width: 529px;
  height: 559.02px;
  margin-left: 360px;
  margin-bottom: 177px;
}
.about__sub-title {
  margin-top: 177.5px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.about__title {
  margin-top: 9px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 435px;
  height: 174px;
}
.about__text {
  margin-top: 16px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  width: 529px;
  height: 120px;
}
.about__products {
  margin-top: 37px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.about__element {
  width: 165px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #1e2c30;
  padding: 21px 11px 21px 11px;
}
.about__head {
  margin-top: 14px;
  width: 143px;
  height: 52px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 120%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.about__picture {
  z-index: 1;
  position: absolute;
  top: 190px;
  box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
}
.about__img {
  position: absolute;
  top: 150px;
  left: 1055px;
  box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
}

.service {
  margin-top: 146px;
}
.service__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 659px;
  height: 148px;
}
.service__sub-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #5c8692;
}
.service__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 659px;
  height: 116px;
  text-align: center;
}
.service__line {
  width: 530px;
  height: 0px;
  margin-top: 22px;
  opacity: 0.5;
  border: 1px solid #9bb7bf;
}
.service__content {
  margin-top: 50px;
  display: flex;
  width: 1198px;
  height: 589px;
  margin: auto;
  margin-top: 50px;
  -moz-column-gap: 68px;
       column-gap: 68px;
  position: relative;
}
.service__text {
  width: 530px;
  height: 493px;
}
.service__texts {
  margin-top: 127px;
  width: 530px;
  height: 493px;
}
.service__top {
  margin-top: 18px;
  width: 529px;
  height: 61px;
}
.service__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 529px;
  letter-spacing: 0.02em;
}
.service__highlighted {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  letter-spacing: 0.02em;
}
.service__paragraph {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  letter-spacing: 0.02em;
  margin-top: 5px;
}
.service__button {
  margin-top: 35px;
  width: 249px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5c8692;
}
.service__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #141414;
}
.service__icon {
  position: absolute;
  z-index: -1;
  top: 550px;
  left: 510px;
}
.testimonials {
  margin-top: 190px;
  max-width: 1920px;
  height: 776px;
}
.testimonials__background {
  background: #edf5f7;
  width: 1920px;
  height: 776px;
}
.testimonials__header {
  width: 552px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 147px;
}
.testimonials__sub-title {
  margin-top: 147px;
  margin-bottom: 2px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.testimonials__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.testimonials__content {
  margin: auto;
  width: 1200px;
  height: 359px;
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  margin-top: 40px;
}
.testimonials__info {
  width: 582px;
  height: 234px;
  padding: 44px 48px 54px 49px;
  background: #ffffff;
}
.testimonials__paragragh {
  width: 485px;
  height: 146px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 180%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
}
.testimonials__text {
  display: flex;
  background: #1e2c30;
  width: 582px;
  height: 125px;
  padding: 26px 50.99px 25px 51px;
}
.testimonials__about {
  margin-left: 20px;
  margin-right: 178px;
}
.testimonials__name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 160%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #ffffff;
}
.testimonials__country {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.benefits {
  margin-top: 147px;
}
.benefits__header {
  width: 659px;
  height: 90px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits__sub-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.benefits__title {
  margin-top: 9px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.benefits__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 1200px;
  height: 621px;
  -moz-column-gap: 105px;
       column-gap: 105px;
  row-gap: 40px;
}
.benefits__about {
  width: 330px;
  height: 243px;
}
.benefits__icon {
  margin-top: 43px;
}
.benefits__head {
  margin-top: 25px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 120%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 310px;
  height: 62px;
}
.benefits__text {
  margin-top: 11px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 165%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  width: 330px;
  height: 60px;
}

.appointment__hl {
  width: 288px;
  height: 145px;
  background: #ffffff;
  border: 1px solid #95bfcb;
}

.appointment {
  margin-top: 161px;
  width: 1920px;
  height: 930px;
  background: #edf5f7;
}
.appointment__all {
  margin: auto;
  width: 1199px;
  height: 667px;
  display: flex;
  -moz-column-gap: 115px;
       column-gap: 115px;
}
.appointment__content {
  margin-top: 218.5px;
}
.appointment__sub-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.appointment__title {
  margin-top: 9px;
  width: 435px;
  height: 174px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.appointment__paragraph {
  margin-top: 14px;
  width: 534px;
  height: 92px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  /* or 32px */
  color: #555555;
}
.appointment__text {
  display: flex;
  margin-top: 37px;
}
.appointment__top {
  margin-top: 18px;
  margin-left: 25px;
  width: 208px;
  height: 45px;
  display: flex;
  -moz-column-gap: 19px;
       column-gap: 19px;
  align-items: start;
}
.appointment__icon {
  margin-top: 6px;
}
.appointment__right {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #141414;
  width: 159px;
  height: 45px;
}
.appointment__background {
  margin-top: 132px;
  width: 550px;
  height: 667px;
  padding: 66px 75px 66px 75px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.13);
}
.appointment__about {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.appointment__name {
  width: 400px;
  height: 65px;
  border: 1px solid #5c8692;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #555555;
}
.appointment__any {
  width: 399px;
  height: 136px;
  border: 1px solid #5c8692;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  padding-bottom: 89px;
  padding-left: 20px;
  padding-top: 18px;
  color: #555555;
}
.appointment__button {
  width: 399px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5c8692;
}
.appointment__p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 18px */
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
}

.blog {
  margin-top: 145px;
}
.blog__header {
  width: 289px;
  height: 85px;
  margin: auto;
  text-align: center;
}
.blog__sub-title {
  margin-bottom: 4px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.blog__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.blog__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 579px;
  -moz-column-gap: 44px;
       column-gap: 44px;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 40px;
}
.blog__text {
  width: 370px;
  height: 254px;
  padding: 30px 26.43px 39px 26px;
  background: #edf5f7;
}
.blog__sub-head {
  display: flex;
  align-items: center;
}
.blog__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 125%;
  /* or 16px */
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #5c8692;
}
.blog__line {
  margin-left: 7.21px;
  margin-right: 10.88px;
  width: 19.79px;
  height: 0px;
  border: 2px solid #272d32;
}
.blog__head {
  margin-top: 8px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 140%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 289.87px;
  height: 62px;
}
.blog__paragraph {
  margin-top: 14px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 155%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  width: 317.57px;
  height: 85px;
}
.blog__button {
  margin: auto;
  width: 250px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5c8692;
}
.blog__view {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 18px */
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #141414;
}

.footer {
  margin-top: 150px;
}
.footer__top {
  width: 1919px;
  height: 560px;
  background: #1e2c30;
}
.footer__content {
  width: 1200px;
  height: 428px;
  margin: auto;
}
.footer__header {
  display: flex;
  -moz-column-gap: 651px;
       column-gap: 651px;
}
.footer__logo {
  margin-top: 70px;
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.footer__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 125%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #ffffff;
}
.footer__networks {
  margin-top: 70px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__icon {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5c8692;
}
.footer__line {
  margin-top: 57px;
  margin-bottom: 52px;
  width: 1200px;
  height: 0px;
  opacity: 0.15;
  border: 1px solid #ffffff;
  transform: rotate(0.05deg);
}
.footer__links {
  display: flex;
  width: 1199px;
  height: 258px;
  -moz-column-gap: 129px;
       column-gap: 129px;
}
.footer__navigation {
  width: 156px;
}
.footer__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 140%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 21px;
}
.footer__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  /* or 34px */
  letter-spacing: -0.01em;
  color: #ffffff;
}
.footer__keep {
  width: 324px;
}
.footer__contact {
  margin-top: 14px;
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.footer__paragraph {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 26px */
  letter-spacing: -0.01em;
  color: #ffffff;
}
.footer__text {
  width: 234px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  /* or 26px */
  letter-spacing: -0.01em;
  color: #ffffff;
}
.footer__work {
  width: 176px;
}
.footer__pm {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  /* or 34px */
  margin-top: 10px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.footer__bottom {
  width: 1920px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111e22;
}
.footer__last {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 200%;
  /* or 30px */
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.short {
  width: 1920px;
  height: 495px;
  margin-bottom: 130px;
}
.short__content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 649px;
  height: 378px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.short__background {
  position: absolute;
}
.short__sub-title {
  margin-top: 118px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.short__title {
  margin-top: 8px;
  width: 649px;
  height: 132px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  /* or 66px */
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.short__button {
  margin-top: 32px;
  width: 250px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5c8692;
}
.short__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 18px */
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
}

.values {
  width: 659px;
  height: 657px;
  margin: auto;
}
.values__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.values__sub-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.values__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.values__beauty {
  margin-top: 45px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  width: 590px;
  height: 124px;
}
.values__content {
  display: flex;
  flex-direction: column;
  width: 458px;
  height: 124px;
}
.values__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 120%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
}
.values__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 175%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  width: 458px;
  height: 90px;
  margin-top: 8px;
}

.line {
  width: 620px;
  height: 0px;
  margin-top: 36px;
  margin-bottom: 36px;
  border: 1px solid #d3d3d3;
}

.meet__header {
  width: 659px;
  height: 148px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 129px;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.meet__sub-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}
.meet__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 130%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  width: 659px;
  height: 116px;
  text-align: center;
}
.meet__content {
  width: 1200px;
  height: 568px;
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  margin: auto;
  margin-top: 33px;
}
.meet__about {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 568px;
  align-items: center;
}
.meet__head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  /* or 58px */
  letter-spacing: -0.01em;
  color: #141414;
  margin-top: 25px;
}
.meet__paragraph {
  margin-top: 8px;
  width: 336px;
  height: 87px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 160%;
  /* or 30px */
  letter-spacing: 0.02em;
  color: #555555;
  text-align: center;
}
.meet__network {
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 19px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.meet__sub-head {
  margin-top: 1px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;
  /* or 23px */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5c8692;
}/*# sourceMappingURL=style.css.map */